html {
    height: 100%;
}

body {
    background-color: aliceblue;
    height: 100%;
}

.grid-container {
    height: 500px;
    width: 500px;
    border: 1px solid blue;
}

.grid-row {
    display: flex;
}

.grid-box {
    background-color: white;
    width: 5%;
    height: auto;
}