html {
    height: 100%;
}

body {
    background-color: aliceblue;
    height: 100%;
    font-family: sans-serif;
    user-select: none;
}

.header-section {
    text-align: center;
    font-size: 30px;
    color: rgb(30, 36, 51);
    padding: 1px;
}

.grid-section {
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

.color-pallete {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 225px;
    height: 600px;
    border: 2px solid black;
    background-color: lightblue;
    font-size: 25px;
}

.color-pallete h3 {
    margin-top: 15%;
    margin-bottom: 0%;
}

.color-row {
    display: flex;
    justify-content: center;
    height: 8%;
    width: 100%;
    gap: 10%;
}

.color-box {
    width: 20%;
    border: 2px solid rgb(41, 41, 41);
    cursor: pointer;
}
.color-box:hover {
    opacity: 0.6;
}

.colorpicker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
}

.input-color-container {
    position: relative;
    overflow: hidden;
    width: 45px;
    height: 45px;
    /* border: 2px solid black; */
    border-radius: 40px;
}

#colorpicker {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
}


.grid-container {
    border: 2px solid rgb(39, 85, 153);
}

.grid-row {
    display: flex;
    /* user-select: none; */
}

.grid-box {
    background-color: white;
    /* user-select: none; */
}

.parameters {
    margin: 20px 10% 20px 10%;
    padding-bottom: 20px;
    border: 2px solid black;
    background-color:rgb(160, 207, 207);
}

.slide-container {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 1%;
    gap: 15px;
}

.slider {
    -webkit-appearance: none;
    width: 40%;
    border-radius: 5px;  
    background: white;
    outline: none;
    opacity: 0.7;
}
.slider::-webkit-slider-thumb {
    cursor: pointer;
}
.slider::-moz-range-thumb {
    cursor: pointer;
}
.slider:hover {
    opacity: 1;
}


.button-container {
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.tool-button {
    cursor: pointer;
    height: 40px;
    width: 125px;
    background-color: rgb(50, 61, 88);
    font-size: 20px;
    color: white;
    border: 2px solid grey;
}

.button-container button {
    cursor: pointer;
    height: 50px;
    background-color: rgb(50, 61, 88);
    font-size: 20px;
    color: white;
    border: 2px solid grey;
}

.button-container button:hover {
    opacity: 0.8;
}